<html>
    <head>
        <script src="/heat4us.js"></script>
        <script src="/heatmap.js"></script>
        
    </head>
    <body>
        <% 25.times do %>
        <p>lorem ipsum dolor sit amet</p>
        <% end %>

        <script type="text/javascript">
            heat4us.tracker.plot(document.body, [
                <% for item in @data %>
                { quad: <%= item[:quad] %>, count: <%= item[:count] %>},
                <% end %>
            ]);
        </script>
    </body>
</html>
